<div class="page-header">
  <h1>
    Region
    <a href="/region/new" class="btn btn-lg btn-success">New Region</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Region name</th>
        <th>Actions</th>
      </tr>

      <% @region.each do |region| %>
      <tr>
        <td><%= region.region_name %></td>
        <td>
          <a href="/region/<%= region.id %>" class="btn btn-primary">Show</a>
          <a href="/region/<%= region.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_region/<%= region.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
